{% if page.layout == 'default' %}
    {% assign page-tagline = site.description | escape %}
    {% assign page-title = site.title | escape %}
    {% endif %}
    {% if page.layout == 'home' %}
    {% assign page-tagline = page.tagline | escape %}
    {% endif %}
    {% if page.layout == 'page' %}
    {% assign page-tagline = page.tagline | escape %}
    {% endif %}
    {% if page.layout == 'post' %}
    {% assign page-tagline = page.tagline | escape  %}
    {% endif %}

    <section class="page-header" role="banner">
        <h1 class="project-name">{{ page-title }}</h1>

        {% if page.layout != 'post' %}
        <h2 class="project-tagline">{{ page-tagline }}</h2>
        {% endif %}

        <!-- Post tagline -->
        {% if page.layout == 'post' %}
        <h2 class="project-date">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
                {{ page.date | date: date_format }}
            </time>
            {% assign page_author = page.author | default: site.author | default: nil | escape %}
            {% if page_author %}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span
                    itemprop="name">{{ page_author }}</span></span>
            {% endif %}
        </h2><br>
        {% endif %}
        <!-- End: Post tagline -->

        <a href="{{ site.github.repository_url }}" target="_blank" class="btn">
            <i class='fab fa-github-alt' style='font-size:24px;color:white'></i>
        </a>
        <a href="{{ site.linkedin.linkedin_url }}" target="_blank" class="btn">
            <i class='fab fa-linkedin' style='font-size:24px;color:white'></i>
        </a>
        <a href="mailto: {{ site.email }}" target="_blank" class="btn">
            <i class='fas fa-envelope' style='font-size:24px;color:white'></i>
        </a>
    </section>
