<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include site-head.html %}

<body>

    {% include site-header.html %}

    {% include banner.html %}

    <section class="main-content" role="main">

        {{ content }}

        {% include site-footer.html %}

    </section>

    <script>
        var menu = document.querySelector("nav.site-nav");
        var checkbox = document.getElementById("nav-trigger");

        // close menu if click outside menu
        document.addEventListener("click", function (e) {
            if (menu != e.target &&
                !isDescendant(menu, e.target)) {
                checkbox.checked = false;
            }
        }, false);

        function isDescendant(parent, child) {
            var node = child.parentNode;
            while (node != null) {
                if (node == parent) {
                    return true;
                }
                node = node.parentNode;
            }
            return false;
        }
    </script>

    <script>
        window.onscroll = function () {
            myFunction()
        };

        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }
    </script>

    <script id="dsq-count-scr" src="//{{ site.disqus.shortname }}.disqus.com/count.js" async></script>
</body>

</html>